*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
}

body{
    background-color: rgb(26, 156, 189);
    font-family: Arial, Helvetica, sans-serif;
    
}

ul{
    display: flex;
    justify-content: space-evenly;
}