*{
    margin: 0;
    padding: 10;
    box-sizing: border-box;
    text-align: center;
}

body{
    background-color: rgb(75, 195, 216);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header{
    background-color: tan;
    display: flex;
    height: 100px;
    align-items: center;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.logo{
    width: 15%;
    padding-left: 10px; 
}
nav{
    width: 70%;
}

a{
    text-decoration: none;
    color: black;
}

.socials{
    width: 15%;
    display: flex;
    justify-content: end;
}

i{
    padding-right: 30px;
}